---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/appeals/v1/decision_reviews/higher_level_reviews/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"higherLevelReview","attributes":{"benefitType":"compensation","veteran":{"address":{"zipCode5":"00000"},"phone":{"areaCode":"555","phoneNumber":"4567890"},"timezone":"UTC"},"informalConference":true,"informalConferenceRep":{"name":"repName","phone":{"areaCode":"555","phoneNumber":"2223333"}},"sameOffice":true,"informalConferenceTimes":["1000-1230
        ET"]}},"included":[{"type":"contestableIssue","attributes":{"issue":"bad issue","decisionDate":"1900-01-01"}}]}'
    headers:
      Apikey:
      - SECRET_API_KEY_HERE
      X-Va-Ssn:
      - '000000000'
      X-Va-First-Name:
      - first
      X-Va-Last-Name:
      - last
      X-Va-Birth-Date:
      - '1900-01-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4cea95085680c96acd4289b3008d4c99"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"24379a6d-4d56-4024-9985-e605d13f40f7","type":"higherLevelReview","attributes":{"status":"pending","updatedAt":"2021-03-11T16:15:18.989Z","createdAt":"2021-03-11T16:15:18.989Z","formData":{"data":{"type":"higherLevelReview","attributes":{"benefitType":"compensation","veteran":{"address":{"zipCode5":"00000"},"phone":{"areaCode":"555","phoneNumber":"4567890"},"timezone":"UTC"},"informalConference":true,"informalConferenceRep":{"name":"repName","phone":{"areaCode":"555","phoneNumber":"2223333"}},"sameOffice":true,"informalConferenceTimes":["1000-1230
        ET"]}},"included":[{"type":"contestableIssue","attributes":{"issue":"bad issue","decisionDate":"1900-01-01"}}]}}}}'
  recorded_at: Thu, 11 Mar 2021 16:15:19 GMT
recorded_with: VCR 6.0.0
