---
http_interactions:
- request:
    method: get
    uri: https://dev-api.va.gov/services/appeals/v1/decision_reviews/higher_level_reviews/95aa02ff-01f7-4d4e-8ab8-73bd1cc51c56
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - SECRET_API_KEY_HERE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f69002d8fc753f6d7022612cecb31a92"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"95aa02ff-01f7-4d4e-8ab8-73bd1cc51c56","type":"higherLevelReview","attributes":{"status":"submitted","updatedAt":"2021-03-11T00:32:01.231Z","createdAt":"2021-03-11T00:31:53.068Z","formData":{"data":{"type":"higherLevelReview","attributes":{"benefitType":"compensation","veteran":{"address":{"zipCode5":"00000"},"phone":{"areaCode":"555","phoneNumber":"4567890"},"timezone":"UTC"},"informalConference":true,"informalConferenceRep":{"name":"repName","phone":{"areaCode":"555","phoneNumber":"2223333"}},"sameOffice":true,"informalConferenceTimes":["1000-1230
        ET"]}},"included":[{"type":"contestableIssue","attributes":{"issue":"bad issue","decisionDate":"1900-01-01"}}]}}}}'
  recorded_at: Thu, 11 Mar 2021 16:15:19 GMT
recorded_with: VCR 6.0.0
