---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/appeals/v1/decision_reviews/notice_of_disagreements/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"noticeOfDisagreement","attributes":{"veteran":{"homeless":false,"address":{"addressLine1":"123
        Main St","city":"New York","countryName":"United States","zipCode5":"30012"},"phone":{"areaCode":"555","phoneNumber":"8001111"},"emailAddressText":"user@example.com"},"boardReviewOption":"evidence_submission","timezone":"America/Chicago","socOptIn":false}},"included":[{"type":"contestableIssue","attributes":{"issue":"tinnitus","decisionDate":"1900-01-01"}}]}'
    headers:
      Apikey:
      - evGzvOdkqRusQ4ynpZZ9OtpOPgiglFU6
      X-Va-Ssn:
      - '000000000'
      X-Va-First-Name:
      - first
      X-Va-Last-Name:
      - last
      X-Va-Birth-Date:
      - '1900-01-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f6f1caf646b976e73dee92262864aa28"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"029bb3cb-e142-411a-ab8c-eb6bc14bfe9a","type":"noticeOfDisagreement","attributes":{"status":"pending","updatedAt":"2021-04-29T20:08:22.496Z","createdAt":"2021-04-29T20:08:22.496Z","formData":{"data":{"type":"noticeOfDisagreement","attributes":{"veteran":{"homeless":false,"address":{"addressLine1":"123
        Main St","city":"New York","countryName":"United States","zipCode5":"30012"},"phone":{"areaCode":"555","phoneNumber":"8001111"},"emailAddressText":"user@example.com"},"boardReviewOption":"evidence_submission","timezone":"America/Chicago","socOptIn":false}},"included":[{"type":"contestableIssue","attributes":{"issue":"tinnitus","decisionDate":"1900-01-01"}}]}}}}'
  recorded_at: Thu, 29 Apr 2021 20:08:18 GMT
recorded_with: VCR 6.0.0
