---
http_interactions:
- request:
    method: get
    uri: https://dev-api.va.gov/services/appeals/v1/decision_reviews/notice_of_disagreements/773784b6-fda4-4f69-85c9-f7fb6c885809
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - SECRET_API_KEY_HERE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e0d3fbd21ecfd01611f8cf5892ff27c"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"773784b6-fda4-4f69-85c9-f7fb6c885809","type":"noticeOfDisagreement","attributes":{"status":"submitted","updatedAt":"2021-04-26T15:32:02.211Z","createdAt":"2021-04-26T15:31:56.319Z","formData":{"data":{"type":"noticeOfDisagreement","attributes":{"veteran":{"homeless":false,"address":{"addressLine1":"address1","city":"aCity","countryName":"aCountry","zipCode5":"66002"},"phone":{"phoneNumber":"123456789","areaCode":"516"},"emailAddressText":"emailaddress@website.com"},"boardReviewOption":"hearing","hearingTypePreference":"central_office","timezone":"America/Chicago","socOptIn":false}},"included":[{"type":"contestableIssue","attributes":{"issue":"tinnitus","decisionDate":"1900-01-01","decisionIssueId":1,"ratingIssueReferenceId":"2","ratingDecisionReferenceId":"3"}}]}}}}'
  recorded_at: Mon, 26 Apr 2021 15:39:34 GMT
recorded_with: VCR 6.0.0
