---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/appeals/v1/decision_reviews/notice_of_disagreements/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"noticeOfDisagreement","attributes":{"veteran":{"homeless":false,"address":{"addressLine1":"123
        Main St","city":"New York","countryName":"United States","zipCode5":"30012"},"phone":{"areaCode":"555","phoneNumber":"8001111"},"emailAddressText":"user@example.com"},"boardReviewOption":"evidence_submission","timezone":"America/Chicago","socOptIn":false}},"included":[{"type":"contestableIssue","attributes":{"issue":"tinnitus","decisionDate":"1900-01-01"}}]}'
    headers:
      Apikey:
      - SECRET_API_KEY_HERE
      X-Va-Ssn:
      - '000000000'
      X-Va-First-Name:
      - first
      X-Va-Last-Name:
      - last
      X-Va-Birth-Date:
      - '1900-01-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a8213e3dd467e2ae959332c993ddaa49"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"b7909f64-ef2f-4a98-8795-7005ad32856b","type":"noticeOfDisagreement","attributes":{"status":"pending","updatedAt":"2021-05-03T18:11:12.297Z","createdAt":"2021-05-03T18:11:12.297Z","formData":{"data":{"type":"noticeOfDisagreement","attributes":{"veteran":{"homeless":false,"address":{"addressLine1":"123
        Main St","city":"New York","countryName":"United States","zipCode5":"30012"},"phone":{"areaCode":"555","phoneNumber":"8001111"},"emailAddressText":"user@example.com"},"boardReviewOption":"evidence_submission","timezone":"America/Chicago","socOptIn":false}},"included":[{"type":"contestableIssue","attributes":{"issue":"tinnitus","decisionDate":"1900-01-01"}}]}}}}'
  recorded_at: Mon, 03 May 2021 18:11:10 GMT
recorded_with: VCR 6.0.0
