---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/appeals/v1/decision_reviews/notice_of_disagreements/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"noticeOfDisagreement","attributes":{"veteran":{"homeless":false,"address":{"addressLine1":"123
        Main St","city":"New York","countryName":"United States","zipCode5":"30012"},"phone":{"areaCode":"555","phoneNumber":"8001111"},"emailAddressText":"user@example.com"},"boardReviewOption":"evidence_submission","timezone":"America/Chicago","socOptIn":false}},"included":[{"type":"contestableIssue","attributes":{"issue":"tinnitus","decisionDate":"1900-01-01"}}]}'
    headers:
      Apikey:
      - OMeVETgZYh5dWsGTYEIqxudF7Dmf4BoT
      X-Va-Ssn:
      - '000000000'
      X-Va-First-Name:
      - first
      X-Va-Last-Name:
      - last
      X-Va-Birth-Date:
      - '1900-01-01'
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing required fields","detail":"One or more
        expected fields were not found","code":"145","source":{"pointer":"/"},"status":"422","meta":{"missing_fields":["X-VA-Veteran-First-Name","X-VA-Veteran-Last-Name","X-VA-Veteran-SSN","X-VA-Veteran-Birth-Date"]}}]}'
  recorded_at: Tue, 27 Apr 2021 15:21:02 GMT
recorded_with: VCR 6.0.0
