<h3>Successfully authenticated OAuth.</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Response Key</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <% @oauth_response.keys.each do |key| %>
        <tr>
            <td><%= key %></td>
            <td><%= @oauth_response[key] %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<% if @authentication %>
    <% if @authentication.valid_session? %>
        <p>Authentication was saved with ID <code><%= @authentication.id %></code>.  Use this authentication record to set headers for requests to the API.</p>
    <% else %>
        <p>The session does not match the oauth response.  These are the issues:</p>
        <ul>
        <% @authentication.session_errors.each do |error| %>
            <li><%= error[:message] %></li>
        <% end %>
        </ul>
    <% end %>
<% end %>