<div class="container">
    <% if flash.alert %>
    <br/>
    <div class="alert alert-danger" role="alert">
        <%= flash.alert %>
    </div>
    <% end %>
    <% if flash.notice %>
    <br/>
    <div class="alert alert-warning" role="alert">
        <%= flash.notice %>
    </div>
    <% end %>
    <div class="jumbotron">
        <h1 class="display-4">Veteran Verification Sample Rails App</h1>
        <p class="lead">Use Oauth to Login</p>
        <hr class="my-4">
        <p>After you login you will be directed to a page that shows data accessed from the Veteran Verification API.</p>
        <%= link_to 'Oauth Login', @oauth_url, class: "btn btn-primary btn-lg" %>
        <%= link_to 'Show me test users', 'https://github.com/department-of-veterans-affairs/vets-api-clients/blob/master/test_accounts.md', class: "btn btn-outline-secondary", target: "_blank" %>
    </div>
</div>

