<div class="site-hero clip-bottom">
  <div class="site-l-wrapper">
      <h1 class="vads-u-measure--1 vads-u-font-family--sans">A Ruby/Rails Sample App for Lighthouse APIs</h1>
      <p class="va-introtext vads-u-measure--2 vads-u-font-family--sans">A working sample application with examples of the Appeals/Deicion Reviews API in Ruby and the Rails web framework.</p>
      <p>
        <% if @apikey.present? %>
          <%= link_to 'Reset API Key', login_path, class: "usa-button usa-button-big" %>
        <% else %>
          <%= link_to 'Set API Key to get started', login_path, class: "usa-button usa-button-big" %>
        <% end %>
        <%= link_to 'Submit HLR', hlr_new_path, class: "usa-button usa-button-secondary" %>
      </p>
  </div>
</div>

