<h1 class="display-2">Callback <em>Failed</em></h1>
<p class="lead">
    The time of login was sent in the "state" parameter, but the returned state,
    <%= @oauth_callback.state %>, does not match <%= session[:login_time] %>!
</p>
<%= link_to 'Return to Login', login_path, class: "btn btn-primary" %>