<% if disability_rating.is_a? VeteranVerification::BadResponse %>
    <%= render partial: "bad_response", object: disability_rating %>
<% else %>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Disability
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Decision</strong> <%= disability_rating['decision'] %></li>
            <li class="list-group-item"><strong>Rating Percentage</strong> <%= disability_rating['rating_percentage'] %></li>
            <li class="list-group-item"><strong>Effective Date</strong> <%= disability_rating['effective_date'] %></li>
        </ul>
    </div>
<% end %>