<div class="col-md-5">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Decision</strong> <%= disability_rating['decision'] %></li>
            <li class="list-group-item"><strong>Rating Percentage</strong> <%= disability_rating['rating_percentage'] %></li>
            <li class="list-group-item"><strong>Effective Date</strong> <%= disability_rating['effective_date'] %></li>
        </ul>
    </div>
</div>