<footer class="site-footer vads-u-padding-y--5" role="contentinfo">
  <div class="site-l-wrapper">
    <div class="medium-screen:vads-u-display--flex medium-screen:vads-u-justify-content--space-between vads-u-align-items--center">
      <div>
        <ul(class="site-footer__links">
          <li(class="site-footer__links__item">
            <a(href="http://www.va.gov/playbook/" target="_blank">VA.gov playbook</a>
          </li>
          <li(class="site-footer__links__item">
            <a(target="_blank" href="https://www.section508.va.gov/">Accessibility</a>
          </li>
          <li(class="site-footer__links__item">
            <a(href="http://www.va.gov/web/" target="_blank">Web governance &amp; policies</a>
          </li>
          <li(class="site-footer__links__item">
            <a(href="http://www.va.gov/privacy/">Privacy</a>
          </li>
        </ul>
      </div>
      <div class="footer-seal">
        <a href="https://va.gov" class="site-footer__logo" title="Go to VA.gov">
          <img src="https://s3-us-gov-west-1.amazonaws.com/dev-design.va.gov/assets/img/va-logo-white.png" alt="U.S. Department of Veterans Affairs logo" />
        </a>
      </div>
    </div>
  </div>
</footer>
