<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="large-screen:vads-u-padding-x--0">
        <%- include('./partials/main_nav') %>
        <div class="site-l-wrapper">
          <div>
            <h3 class='text-center'>Not yet implemented in this sample application</h3>
            <p class='text-center'>Please see <a href="https://developer.va.gov" target="_BLANK">https://developer.va.gov</a> for documentation on this api.</p>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>

