<html>
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header', { tokenset: tokenset}) %>
    <main>
      <div class="large-screen:vads-u-padding-x--0">
        <%- include('./partials/main_nav', { tokenset: tokenset}) %>
        <div class="site-hero clip-bottom">
          <div class="site-l-wrapper">
            <h1 class="vads-u-measure--1 vads-u-font-family--sans">A Node Express Sample App for Lighthouse APIs</h1>
            <p class="va-introtext vads-u-measure--2 vads-u-font-family--sans">
              A working sample application with examples of OAuth, the Benefits Intake API, and the Benefits Claims API in Node Express.
              <a class="usa-button usa-button-big" href="https://staging-api.va.gov/oauth2/authorization?client_id=0oa4kby5moJG5j0Qn2p7&amp;nonce=14343103be036d10b974c40b6eb7c6553f0b91c0f766f1e3f7358d76c377bb8d&amp;redirect_uri=https%3A%2F%2Fva-claims-staging.herokuapp.com%2Fcallback&amp;response_type=code&amp;scope=openid+profile+offline_access+claim.read+claim.write+disability_rating.read&amp;state=1589217940">Log In to Get Started</a>
            </p>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
