/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/*
 *= require_tree .
 *= require_self
 */
h1.main {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

main {
  min-height: 625px;
}

#access_token {
  border: 1px solid #000;
  border-radius: 5px;
  overflow-x: auto;
  padding: 5px;
}

.pill {
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
  &.pill-complete {
    background: #00910C; 
    color: #fff;
  }
}

.card {
  margin: 10px;
  padding: 10px;
}

table a {
  color: #0071BB;
  font-weight: bold;
  text-decoration: none;
  transition: none;
  &.danger {
    color: #981b1e;
  }
}
