<div class="card">
  <h5 class="card-header">
    <code>GET</code> request to <code><%= target %></code>
  </h5>
  <div class="card-body">
    <p class="card-title">
        Response Result <code><%= code %></code>
    </p>
    <p class="card-text">
        <pre><code>
<%= response_text %>
        </code></pre>
    </p>
  </div>
</div>