<%= render partial: 'health_api_header' %>
<br>
<div class="card">
  <h5 class="card-header">
    <code>GET</code> request to <code><%= @target %></code>
  </h5>
  <div class="card-body">
    <p class="card-title">
        Response Result <code><%= @api_response.code %></code>
    </p>
    <p class="card-text">
        <pre><code>
<%= JSON.pretty_generate @api_response.to_h %>
        </code></pre>
    </p>
  </div>
</div>