<%= render partial: 'health_api_header' %>

<div class="row">
    <p>
        This page is showing a <code>GET</code> request to <code><%= @target %></code> using the header <code>Authorization: Bearer &lt;access_token&gt;</code>.
    </p>
</div>
<hr>
<div class="row">
    <p>
        Response Result <code><%= @api_response.code %></code>
    </p>
    <pre><code>
    <%= @api_response %>
    </code></pre>
</div>