<%= render partial: 'health_api_header' %>

<!-- TODO include information on header and how requests are made and results will show PII and PHI-->
<%# Header uses <code>Authorization: Bearer &lt;access_token&gt;</code>. %>

<div class="row">
    <dl>
        <% @apis.each do |api| %>
        <dd><%= link_to api[:text], generic_path(api[:uri_segment]) %></dd>
        <% end %>
        <dd><%= link_to 'Metadata', metadata_path %></dd>
    </dd>
</div>

