<%= render partial: 'health_api_header' %>

<div class="row">
    <p class="lead">
        Once a Veteran has given your app permission through OAuth,
        you can use the returned <code>access_token</code> to make
        requests to APIs.  These APIs use the <code>patient's identifier</code>
        to make requests to the various Health API endpoints (metadata
        does not require a patient identifier).  Keep in mind that the
        information returned is Protected Health Information and/or
        Personally Identifiable Information and you should keep in mind
        the legal ramifications of how you use it with real Veteran
        information.
    </p>
</div>

<div class="row">
    <dl>
        <% @apis.each do |api| %>
        <dd>
            <%= link_to api[:text], search_api_path(api[:uri_segment]) %>
            <%#= link_to api[:text], api_path(api[:uri_segment]) %>
        </dd>
        <% end %>
    </dd>
</div>
