<div class="site-l-wrapper">
  <table>
    <caption>nod: <%= params[:id] %></caption>
    <thead>
    <tr>
      <th scope="col">Attribute</th>
      <th scope="col">Data</th>
    </tr>
    </thead>
    <tbody>
    <% @nod.each do |k, v| %>
      <tr>
        <th scope="row"><%= k %></th>
        <td><%= v %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
